@import "~src/assets/styles/_variables/main";

.preview {
  padding-top: 70px;
  .preview__photo {
    margin-bottom: 90px;
  }

  .preview__category, .leave-comment {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    font-family: $Ubuntu;
    color: $textSecondary;
  }

  .preview__title {
    font-size: 30px;
    font-weight: 300;
  }

  .leave-comment {
    text-decoration: none;
    &:hover {
      color: lighten($textSecondary, 10%);
    }
  }
}
