<footer class="footer">
    <div class="footer__rules-list">
        <a href="#" class="item">Terms and conditions</a>

        <a href="#" class="item">Privacy</a>
    </div>

    <div class="footer__socials-list">
        Follow

        <a href="#" class="item"><img src="assets/img/socials/facebook.png" alt="fb"></a>

        <a href="#" class="item"><img src="assets/img/socials/twitter.png" alt="tw"></a>

        <a href="#" class="item"><img src="assets/img/socials/instagram.png" alt="inst"></a>
    </div>
</footer>
