@import "~src/assets/styles/_helpers/fonts";
@import "~src/assets/styles/_variables/main";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $PlayfairDisplay;
  color: $textMain;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.content-wrap {
  margin: 0 auto;
  padding: 0 70px;
  max-width: 1200px;
}
