@import "~src/assets/styles/_variables/main";

.post {
  padding-top: 70px;
  padding-bottom: 96px;
  .post__preview {
    margin-bottom: 90px;
  }

  .post__category, .leave-comment {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    font-family: $Ubuntu;
    color: $textSecondary;
  }

  .post__title {
    font-size: 30px;
    font-weight: 300;
  }

  .post__photo {
    margin: 30px auto;
    display: block;
  }

  .leave-comment {
    text-decoration: none;
    &:hover {
      color: lighten($textSecondary, 10%);
    }
  }

  .share {
    margin: 69px 0 78px 0;
    text-align: right;
    font-family: $Ubuntu;
    font-size: 13px;
    color: #b4ad9e;

    .social-link {
      margin-right: 17px;
      vertical-align: middle;
      &:hover {
        opacity: 0.8;
      }

      &:first-child {
        margin-left: 23px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .comments-list {
    padding-top: 67px;
    display: flex;
    flex-direction: column;
    font-size: 14px;

    .count {
      margin-bottom: 43px;
      text-transform: uppercase;
      font-family: $Ubuntu;
      font-weight: 300;
      color: $textSecondary;
    }

    .item {
      display: flex;
      align-items: flex-start;

      .user-ico {
        margin-right: 37px;
        width: 69px;
      }

      .name {
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: 700;
      }

      .name, .description {
        color: $textMain;
      }

      .description {
        margin-bottom: 20px;
        line-height: 1.7;
      }

      .reply {
        padding: 0;
        border: none;
        background: transparent;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 14px;
        font-weight: 300;
        color: $textSecondary;

        &:hover {
          color: lighten($textSecondary, 10%);
        }
      }
    }

    .item + .item {
      margin-top: 57px;
    }
  }
}
