@import "~src/assets/styles/_variables/main";

.post {
  padding-top: 70px;
  padding-bottom: 96px;
  .post__preview {
    margin-bottom: 90px;
  }

  .post__category, .leave-comment {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    font-family: $Ubuntu;
    color: $textSecondary;
  }

  .post__title {
    font-size: 30px;
    font-weight: 300;
  }

  .post__photo {
    margin: 30px auto;
    display: block;
  }

  .leave-comment {
    text-decoration: none;
    &:hover {
      color: lighten($textSecondary, 10%);
    }
  }

  .share {
    margin: 69px 0 78px 0;
    text-align: right;
    font-family: $Ubuntu;
    font-size: 13px;
    color: #b4ad9e;

    .social-link {
      margin-right: 17px;
      vertical-align: middle;
      &:hover {
        opacity: 0.8;
      }

      &:first-child {
        margin-left: 23px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
