<div class="post">
    <img src="assets/img/main-page/preview.png" alt="preview" class="post__preview">

    <p class="post__category">postID: {{post?.id}}</p>

    <h2 class="post__title">{{post?.title}}</h2>

    <img src="assets/img/post/post-one.png" alt="post-photo" class="post__photo">

    <img src="assets/img/post/post-two.png" alt="post-photo" class="post__photo">

    <p class="post__description">{{post?.body}}</p>


    <div class="share">
        SHARE

        <a href="#" class="social-link"><img src="assets/img/socials/facebook.png" alt="fb"></a>

        <a href="#" class="social-link"><img src="assets/img/socials/twitter.png" alt="tw"></a>

        <a href="#" class="social-link"><img src="assets/img/socials/g+.png" alt="g+"></a>

        <a href="#" class="social-link"><img src="assets/img/socials/tumblr.png" alt="tmb"></a>

        <a href="#" class="social-link"><img src="assets/img/socials/pinterest.png" alt="pint"></a>
    </div>

    <div class="comments-list">
        <p class="count">{{postComments?.length}} comments</p>

        <div class="item" *ngFor="let comment of postComments">
            <img src="assets/img/post/user-ico.png" class="user-ico" alt="user-ico">

            <div class="item__body">
                <p class="name">{{comment.email}}</p>

                <p class="description">{{comment.body}}</p>

                <button class="reply">reply</button>
            </div>
        </div>
    </div>
</div>
