@import "~src/assets/styles/_variables/main";

.post {
  padding-top: 70px;
  padding-bottom: 96px;
  .post__preview {
    margin-bottom: 90px;
  }

  .post__wrap {
    margin: 0 auto;
    max-width: 900px;
  }

  .post__category, .leave-comment {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    font-family: $Ubuntu;
    color: $textSecondary;
  }

  .post__title {
    font-size: 30px;
    font-weight: 300;
  }

  .post__description {
    &:first-letter {
      text-transform: uppercase;
    }

  }

  .post__photo {
    margin: 30px auto;
    display: block;
  }

  .leave-comment {
    text-decoration: none;
    &:hover {
      color: lighten($textSecondary, 10%);
    }
  }

  .social-block {
    text-align: right;
    font-family: $Ubuntu;
    font-size: 13px;
    color: #b4ad9e;

    .social-link {
      margin-right: 17px;
      vertical-align: middle;
      &:hover {
        opacity: 0.8;
      }

      &:first-child {
        margin-left: 23px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .share {
    margin-top: 69px;
  }

  .comments-list {
    margin-bottom: 32px;
    padding-top: 67px;
    display: flex;
    flex-direction: column;
    font-size: 14px;

    .count {
      margin-bottom: 43px;
      text-transform: uppercase;
      font-family: $Ubuntu;
      font-weight: 300;
      color: $textSecondary;
    }

    .item {
      display: flex;
      align-items: flex-start;

      .item__body {
        width: 100%;
      }

      .user-ico {
        margin-right: 37px;
        width: 69px;
      }

      .name {
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: 700;
      }

      .name, .description {
        color: $textMain;
      }

      .description {
        margin-bottom: 20px;
        line-height: 1.7;
      }

      .reply, .add-comment {
        padding: 0;
        border: none;
        background: transparent;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 14px;
        font-weight: 300;
        color: $textSecondary;

        &:hover {
          color: lighten($textSecondary, 10%);
        }
      }

      .comment-area {
        position: relative;
        textarea {
          padding: 24px 34px 10px 34px;
          width: 100%;
          height: 70px;
          resize: none;
          border-radius: 5px;
          border: solid 1px #c8c8c8;
          font-family: $Ubuntu;
          font-weight: 300;
          &::placeholder {
            color: #c8c8c8;
          }
        }

        .add-comment {
          position: absolute;
          bottom: 10px;
          right: 10px;
        }
      }
    }

    .item + .item {
      margin-top: 57px;
    }
  }
}
