<!--The content below is only a placeholder and can be replaced.-->

<div class="content-wrap">
    <app-header></app-header>

    <router-outlet></router-outlet>

    <div class="preview">
        <img src="assets/img/main-page/preview.png" alt="preview" class="preview__photo">

        <p class="preview__category">photodiary</p>

        <h2 class="preview__title">The perfect weekend getaway</h2>

        <p class="preview__description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
            labore et dolore magnam aliquam quaerat voluptatem.
        </p>

        <a href="#" class="leave-comment">Leave a comment</a>
    </div>

    <app-posts></app-posts>
</div>

<app-footer></app-footer>
