@import "~src/assets/styles/_variables/main";

.posts-list-wrap {
  position: relative;
}

.posts-list {
  margin: 130px 0 0 0;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  .item {
    margin-bottom: 132px;
    width: 45%;

    .post-preview {
      margin-bottom: 32px;
    }

    .category {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 300;
      font-family: $Ubuntu;
      color: $textSecondary;
    }

    .title {
      font-size: 30px;
      font-weight: 400;
    }
  }
}


.load-more {
  margin: 0 auto 100px auto;
  padding: 15px;
  display: block;
  min-width: 164px;
  border: 1px solid #626262;
  cursor: pointer;
  background: none;
  font-size: 20px;
  color: $textMain;
  &:hover {
    opacity: 0.8;
  }
}
